@media only screen and (min-width: 65rem) {
    nav button {
        display: none;
    }
    nav {
        background-color: black;
        box-shadow: 0 2px 15px black;
        margin-bottom: 20px;
        margin-left: 26%;
    }
    nav ul.hide {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        background-color: #ECC745;
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
    }
    nav ul li {
        display: block;
        flex: 1 1 auto;
    }
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        border: none;
    }
    video {
        width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .logo {
        display: flex;
        border: solid #ECC745;
        box-shadow: 0 2px 15px #ECC745;
        width: 24%;
        margin-top: -7%;
        margin-left: 0.8%;
    }
    header {
        display: inline;
        align-items: left;
        width: 100%;
    }
    header img {
        display: inline;
        width: 220px;
    }
    .main-title {
        font-size: 3rem;
        padding: 3rem;
    }
    main {
        margin: 0 auto;
        margin-left: .4rem;
        margin-right: .4rem;
        padding: 0.9rem;
        display: grid;
        grid-template-columns: 4fr, 1fr;
        grid-template-rows: auto;
    }
    h1 {
        color: #ECC745;
        text-align: center;
        font-size: 400%;
        margin: 3%;
    }
    h2 {
        text-align: center;
        color: #ECC745;
    }
    footer,
    h3 {
        color: white;
        font: bold;
    }
    .box-1 {
        grid-column-start: 1;
        padding: 0;
    }
    .box-2 {
        margin-top: 5%;
        grid-column-start: 1;
        width: 90%;
    }
    .produtos {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
    }
    .produtos img {
        width: 70%;
    }
    .negocios {
        grid-column-start: 1;
        padding: 0;
    }
    .consultoria {
        grid-column-start: 2;
        padding: 0;
    }
    .consultoria .analise {
        grid-column-start: 3;
        padding: 0;
    }
    .comercial {
        grid-column-start: 4;
        padding: 0;
    }
    .produtos img {
        padding: 0%;
        margin-left: 15%;
    }
    .conheca a {
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
        display: block;
        border: solid;
        border-color: #ECC745;
        padding: .5rem;
        background-color: #ECC745;
    }
    .conheca a:hover {
        background-color: white;
        border-color: white;
        color: #ECC745;
    }
    .conheca {
        margin: auto;
        margin-bottom: 3.5rem;
        margin-top: 2.5rem;
        text-align: center;
        max-width: 10rem;
    }
    .foot-1 {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0%;
    }
    .coluna-01 {
        grid-column: 1;
        padding-top: 25%;
    }
    .localizacao {
        grid-column: 2;
    }
    .lista {
        margin-top: 14%;
    }
    .social-media {
        display: inline-block;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .social-media img {
        width: 5%
    }
    .facebook,
    .instagram,
    .twitter,
    .whatsap,
    .linkedin {
        padding: 3%;
    }
    footer h2 {
        color: white;
        text-align: center;
    }
}