@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

nav {
    background-color: #ECC745;
    box-shadow: 0 2px 15px #ECC745;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.active {
    background-color: white;
    color: #ECC745;
    box-shadow: 0 2px 15px #ECC745;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:hover {
    background-color: white;
    color: #ECC745;
    box-shadow: 0 2px 15px #ECC745;
}

nav ul.hide {
    display: none;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

header {
    background-color: black;
    padding: 5px 0;
    display: block;
    align-items: center;
    justify-content: center;
    color: #ECC745;
    font-family: 'Roboto', sans-serif;
}

header img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: #ECC745;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

.conheca a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    border: solid;
    border-color: #ECC745;
    padding: .5rem;
    background-color: #ECC745;
}

.conheca a:hover {
    background-color: white;
    border-color: white;
    color: #ECC745;
}

.conheca {
    margin: auto;
    margin-bottom: 3.5rem;
    margin-top: 2.5rem;
    text-align: center;
    max-width: 10rem;
}

main {
    background-color: black;
}

.logo {
    width: 100%;
}

video {
    width: 100%;
    height: auto;
}

.produtos img {
    width: 60%;
    display: flex;
    margin: auto
}

footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    padding: 0.9rem;
    background-color: #ECC745;
    box-shadow: 0 2px 15px #ECC745;
    margin-left: .4rem;
    margin-right: .4rem;
}

footer img {
    width: 15%;
}

.adjust_media p {
    color: #ECC745
}

.social-media {
    display: inline;
    margin-bottom: 10%;
}

a .conheca {
    color: red;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}