@media only screen and (min-width: 65rem) {
    nav button {
        display: none;
    }
    nav {
        background-color: black;
        box-shadow: 0 2px 15px black;
        width: 100%;
        position: fixed;
        margin-top: -1%;
    }
    nav ul.hide {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        background-color: #ECC745;
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
    }
    nav ul li {
        display: block;
        flex: 1 1 auto;
    }
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        border: none;
    }
    .logo img {
        display: flex;
        width: 55%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: -4%;
    }
    h1 {
        font-size: 300%;
        text-align: center;
    }
    h3 {
        font-size: 200%;
        padding: 0%;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    p {
        font-size: 170%;
    }
    .titulo h1 {
        margin-top: 4%;
        margin-bottom: -4%;
    }
    hr {
        display: flex;
        width: 75%;
    }
    form {
        padding-left: 10%;
    }
    input {
        width: 86%;
        line-height: 230%;
    }
    button p {
        font-size: 150%;
        font-weight: bold;
    }
    button {
        margin-top: 2%;
        width: 20%;
    }
    .contato img {
        width: 10%;
    }
    .escritorio h3 {
        margin-top: 4%;
    }
    .rede h3 {
        margin-top: 3%;
    }
    .social-media {
        margin-top: 10%;
    }
    .social-media img {
        margin-top: 3%;
    }
    .escritorio p {
        margin-left: 8%;
        margin-right: 8%;
    }
}