@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

nav {
    background-color: #ECC745;
    box-shadow: 0 2px 15px #ECC745;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.active {
    background-color: white;
    color: #ECC745;
    box-shadow: 0 2px 15px #ECC745;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:hover {
    background-color: white;
    color: #ECC745;
    box-shadow: 0 2px 15px #ECC745;
}

nav ul.hide {
    display: none;
    font-family: 'Roboto', sans-serif;
}

.logo img {
    width: 100%;
    margin-top: 4%;
    margin-bottom: -10%;
}

h1,
h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    color: #ECC745;
    text-align: center;
}

p {
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

header {
    background-color: black;
    padding: 5px 0;
    display: block;
    align-items: center;
    justify-content: center;
    color: #ECC745;
    font-family: 'Roboto', sans-serif;
}

header img {
    width: 100%;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.headings h1 {
    font-size: 2.4rem;
}

h1 {
    font-size: 1.8rem;
    margin: 0 0 0 17px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: white;
}

.coluna-2 img {
    width: 90%;
    display: flex;
    margin: auto;
}

main {
    background-color: black;
}

.titulo {
    padding: 0%;
    margin-top: -8%;
    margin-bottom: 4%;
}

.titulo h1 {
    font-size: 2rem;
    text-align: center;
}

.img-large {
    display: none;
    margin-top: 4%;
}

.img-small {
    display: flex;
    margin: auto;
}

.top {
    display: none;
    margin: 0%;
}

.BUTTON_WEP {
    margin: auto;
    font-size: 100%;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5%;
    background-color: #ECC745;
    -webkit-box-shadow: 1px 1px 20px 0 #ECC745;
    -moz-box-shadow: 1px 1px 20px 0 #ECC745;
    box-shadow: 1px 1px 20px 0 #ECC745;
    text-shadow: 38px 1px 20px #ECC745;
    border: solid #ECC745 1px;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    max-width: 10rem;
    margin-bottom: 10%;
}

.BUTTON_WEP:hover {
    border: solid #FFFFFF 1px;
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #ECC745;
}

footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    padding: 0.9rem;
    background-color: #ECC745;
    box-shadow: 0 2px 15px #ECC745;
    margin-left: .4rem;
    margin-right: .4rem;
}

.contact {
    padding: 0.9rem;
    margin-left: .4rem;
    margin-right: .4rem;
    background-color: #ECC745;
}

.info p {
    color: white;
    text-align: center;
    font-weight: bold;
}

.info {
    border: solid #ECC745;
    background-color: #ECC745;
}

.adjust_media p {
    color: #ECC745;
}

.media {
    display: inline;
    padding-left: 4.5rem;
    padding-right: 2rem;
}

.media a img {
    width: 2%;
    padding: .1rem;
    padding-bottom: 1rem;
}

.map img {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rems;
}

footer h3 {
    color: white;
}

footer img {
    width: 16%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}