.equipe h3 {
    color: #ECC745;
    text-align: center;
}

.equipe p {
    text-align: center;
}

.equipe img {
    width: 68%;
    display: flex;
    margin: auto;
}

.linkedin_individual img {
    width: 27%;
    display: flex;
    margin: auto;
    margin-top: 4%;
}

hr {
    display: flex;
    width: 75%;
}

.linke h3 {
    margin-top: 2%;
}

.linke img {
    width: 30%;
    display: flex;
    margin: auto;
}

footer hr {
    width: 98%;
}